
@import url ("https://fonts.googleapis.com/css?family=Source+Serif+Pro")
/*Colorscheme
    #735A7f
    #ffffff
    #E6B3FF
    #7F7F7F
    #B890CC*/
* 
{
    padding:0; 
    margin:0; 
    box-sizing:border-box;
    background-color: #7F7F7F;
}

body {
  font-family: Source Serif Pro,sans-serif;
  line-height: 1.45;
  color: #333;
  background-color:#7F7F7F;
}
p {
	margin-bottom: 10px;
	text-align:left;
	font-size: 1rem;
}
h1 
{
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color:#735A7F;
    font-style: italic;
}
h2
{
    color:#734A7F;
    font-size: 25px;
	margin-bottom: 5px;
}
h3
{
 color: #734A7F;
 font-size: 30px;
}
.side
{
	padding-right: 1px;
}

    
.mainnav ul{
	padding: 0;
  	margin: 0;
}
.wrapper{
    min-width: 300px;
    background-color:#7F7F7F;   
}

.mainnav ul li a {
	display: block;
	background-color: #B890CC;
	color: #735A7f;
	text-decoration: none;

}

.mainnav ul li{
	list-style: none;
	text-align: center;
	border-bottom: 1px solid white;
}

.mainnav a:hover {
	background:#FFFFFF;
}
.masthead {
    text-align: center;
	padding:0 15px;
    background-image: url("http://lorempixel.com/1200/900/cats/");
    background-size: cover;
    background-position: center;
}


footer.footer {
	clear:both;
	padding:1rem;
	color:#735A7F;
    background: #B890CC;
}
img {
	max-width:100%;
    margin-bottom: 5
}

@media all and (max-width: 60em) and (min-width: 35em){
       .masthead
{
        margin-bottom: 1.5%;
        width: 100%;
     
}
    .mainnav ul li
{
        display: inline-block;
        float: left;
        width: 24.8%;
        margin-bottom: 1.5%;
        border-right: 1px solid white;
    
    }
    .mainnav ul li a{
        padding-top: 15px;
		padding-bottom: 15px;
    }
	.content{
		float: left;
		width: 62.5%;
	}
    .primary{
        margin-bottom: 2.5%;
    }
	.secondary {
		margin-bottom: 2.5%;
	}
	.side{
        float: right;
        width: 37%;

    }

    .footer{
        clear: both;
        margin: 0;
        padding: 0;
    }
    
}
@media all and (min-width: 60em){
	
	h1{
		white-space: nowrap;
	}
	.wrapper {
		margin: 0 auto;
		max-width:1600px;
	    padding-top: 375px;
    }
    
    .masthead{
        position: absolute;
        top: 0 ;
        left: 0;
        right: 0;
        width 100%;
        min-height: 200px;
    }
	.masthead, footer.footer {
		padding:1rem;
        
	}
	.mainnav ul {
		width:25%;
		float:left;
        padding-bottom: 250px;
        background-image:url("http://lorempixel.com/600/400/cats/");
        background-size; cover;
        
	}
	
	.primary {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		width:46%;
		float:left;
		padding: 3px;
	}
	.side {
		width:25%;
		float:right;
		padding: 1rem;
	}
	img.left{
		float:none;
		margin:0.25rem 0 0 0;
	}
	img.right{
		float:none;
		margin:0.25rem 0 0 0;
	}
}